---
import type { Pelicula } from '@/interfaces/retina';
import { Image } from 'astro:assets';
import type { GetStaticPaths } from "astro";
interface Props {
  pelicula: Pelicula
}
const {pelicula} = Astro.props
const { imagenes: { destacada: imageDest, poster }, nombre, duracion, slug, descripcion, tags, enlace, directores, fecha_salida } = pelicula
---
<div class="card card-side bg-slate-900 shadow-xl max-w-[92%] mx-auto p-8">
  <figure>
    <Image src={poster} alt={nombre}  transition:name={`${slug}-image`} width={591} height={837} class="rounded-2xl"/>
  </figure>
  <div class="card-body">
    
    <h2 class="card-title text-6xl" transition:name={slug}>{nombre}</h2>

    <p class="prose text-3xl mt-8">{descripcion}</p>

    <span>Una película de: </span>
    { directores.map(director => <span class="badge badge-neutral text-xl p-4">{director}</span>) } 



    <div class="card-actions justify-end">
      { tags.map(tag => <div class="badge badge-ghost text-xl p-4">{tag}</div>) }
      
    </div>
    <div class="card-actions justify-end mt-12">
      
      <a class="btn btn-primary" target="_blank" href={enlace}>Ver en Retina Latina</a>
    </div>
    <span>Disponible hasta: {fecha_salida}</span>
  </div>
  
</div>

<button onclick="history.back()" class="mt-8 ml-8 btn btn-neutral" >Regresar</button>




